<div id="top-of-page"></div>

<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-button class="hamburger" (click)="sidenav.toggle()">
      <mat-icon svgIcon="menu"></mat-icon>
    </button>
    <a class="nav-link home" href="/">
      <img
        src="assets/images/logos/flexsche.png"
        width="40"
        height="40"
        title="Home"
        alt="Home"
      />
    </a>
    <div style="margin-left:30px;">FLEXSCHE CarryOut オンラインマニュアル</div>

    <cio-search-box
      class="search-container"
      #searchBox
      (onSearch)="doSearch($event)"
      (onFocus)="doSearch($event)"
    ></cio-search-box>
  </mat-toolbar-row>
</mat-toolbar>

<!-- <div
  id="search-results"
  *ngIf="showSearchResults"
  style="position:fixed;width:100%;z-index:999;background-color:white;"
>
  {{ searchResults | async | json }}
</div> -->

<mat-sidenav-container class="sidenav-container" role="main">
  <mat-sidenav
    [ngClass]="{ collapsed: !isSideBySide }"
    #sidenav
    class="sidenav"
    [mode]="mode"
    [opened]="isOpened"
  >
    <cio-nav-menu
      [nodes]="sideNavNodes"
      [currentNode]="currentNodes?.SideNav"
      [isWide]="isSideBySide"
    ></cio-nav-menu>
  </mat-sidenav>

  <section class="sidenav-content" [id]="pageId" role="content">
    <cio-search-results
      #searchResultsView
      *ngIf="showSearchResults"
      [searchResults]="searchResults | async"
      (resultSelected)="hideSearchResults()"
    ></cio-search-results>

    <cio-doc-viewer
      [doc]="currentDocument"
      (docReady)="onDocReady()"
      (docRemoved)="onDocRemoved()"
      (docInserted)="onDocInserted()"
      (docRendered)="onDocRendered()"
    >
    </cio-doc-viewer>
  </section>
</mat-sidenav-container>

<!-- <footer>
  <mat-toolbar color="primary">
    <p>Copyright © FLEXSCHE.Co.,Ltd. All right reserved.</p>
  </mat-toolbar>
</footer> -->
